html {
  font-family: Verdana;
  background-color: black;
  text-align: center;
}

h1 {
  font-size: 50px;
  color: white;
}

img {
  padding: 25px;
}

.download {
  font-size: 16px;
  color: aquamarine;
}

.subheads {
  font-size: 42px;
  color: gray;
}

.description {
  font-size: 21px;
  color: gray;
}

.copy {
  font-size: 18px;
  text-align: right;
  color: gray;
}
